[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
	branch = master
[submodule "Externals/mtlpp"]
	path = Externals/mtlpp
	url = https://github.com/naleksiev/mtlpp.git
